{
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "cursorOffset": -1,
    "embeddedLanguageFormatting": "auto",
    "endOfLine": "lf",
    "experimentalTernaries": true,
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": true,
    "jsxBracketSameLine": true,
    "jsxSingleQuote": true,
    "overrides": [
        {
            "files": "*.blade.php",
            "options": {
                "parser": "blade"
            }
        },
        {   "files": "*.json",
            "options": {
                "insertPragma": false,
                "printWidth": 200
            }
        },
        {   "files": [
                ".vscode/*.json", "tsconfig.json"
            ],
            "options": {
                "parser": "jsonc"
            }
        },
        {   "files": "**/*.{js,mjs,cjs}",
            "options": {
                "parser": "meriyah"
            }
        },
        {    "files": "bin/prettier.cjs",
            "options": {
                "trailingComma": "none"
            }
        }
    ],
    "plugins": [
        "@prettier/plugin-php",
        "prettier-plugin-blade",
        "prettier-plugin-tailwindcss"
    ],
    "printWidth": 120,
    "proseWrap": "always",
    "quoteProps": "consistent",
    "requirePragma": false,
    "semi": false,
    "singgleAttributePerLine": true,
    "singleQuote": false,
    "svelteAllowShorthand": false,
    "svelteBracketNewLine": false,
    "svelteIndentScript": true,
    "svelteIndentScriptAndStyle": true,
    "svelteIndentStyle": true,
    "svelteSortOrder": "styles-scripts-markup",
    "svelteStrictMode": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false,
    "vueIndentScriptAndStyle": true
}
